<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="examples-icon" aria-label="icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @for(item of menuList?.ROUTING_LIST; track item.name){
        <button mat-menu-item (click)="getRouter(item.path)">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.name}}</span>
        </button>
        }

    </mat-menu>
    <span>Management Tool</span>
    <span fxFlex></span>
    <button mat-icon-button class="examples-icon favorite-icon" aria-label="icon">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>